body{
   height:100%;
}


.cntainer{
    width:350px;
    height:400px;
    background-color:rgb(0, 0, 0);
    display:grid;
    grid-template-columns:auto auto auto auto;
    
}

.asd{
   margin:2.5px;
   font-size:30px;
   
}

.screen{
    background-color:black;
    width:350px;
    height:100px;
    margin:0;
    padding:0;
   
}

.inner{


    
    box-align: center;
    background-color:gray;
    color:white;
    width: 300px;
    height:75px;
    position:absolute;
    left:32px;
    top:20px;
    font-size:60px;
    text-align:right;
}

.asd.brd{
    box-sizing: border-box;
    border: 10px solid rgba(213, 19, 19, 0.91);
    

}

.asd.brd1{
    box-sizing: border-box;
    border: 6px solid rgba(158, 122, 45, 0.636);
    
}

.asd.brd2{
    box-sizing: border-box;
    border: 10px solid rgba(19, 213, 22, 0.91);
}


